@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  color: rgb(var(--foreground-rgb));
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.card {
  transform-style: preserve-3d;
}
.card:hover {
  filter: drop-shadow(rgb(255, 255, 255) 0px 0px 3px);
}

.title {
  text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}
.btn1 {
  background-image: linear-gradient(to right, #5c4f4c, #8f7772, #5c4f4c);
}
.homepage {
  background-image: url(https://pic.imgdb.cn/item/6682c90bd9c307b7e9438e73.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hideScrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.modal {
  position: relative;
}
.modalHead::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  left: -6px;
  top: 0px;
  background-image: url(https://pic.imgdb.cn/item/668d0cc4d9c307b7e91e8c79.png);
}
.modalHead {
  z-index: 2;
  height: 50px;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  background-image: url(https://pic.imgdb.cn/item/668d1ca7d9c307b7e933d0f0.png);
}
.modalHead::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  right: -6px;
  top: 0px;
  background-repeat: no-repeat;
  background-image: url(https://pic.imgdb.cn/item/668d0d01d9c307b7e91edd12.png);
}
.modalContainer {
  position: relative;
  width: 100%;
  z-index: 3;
}
.modalContainer::before {
  content: '';
  position: absolute;
  top: 10px;
  width: 50px;
  left: -6px;
  bottom: 10px;
  background-image: url(https://pic.imgdb.cn/item/668d0e8bd9c307b7e9210e45.png);
  z-index: -1;
}
.modalContainer::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 10px;
  width: 50px;
  bottom: 10px;
  right: -6px;
  background: url(https://pic.imgdb.cn/item/668d0e6ed9c307b7e920eb12.png);
}
.modalFoot {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 2;
  background-image: url(https://pic.imgdb.cn/item/668d1cd3d9c307b7e93403ff.png);
}
.modalFoot::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  left: -6px;
  bottom: 0px;
  background-image: url(https://pic.imgdb.cn/item/668d0dc3d9c307b7e91ffe1c.png);
  background-repeat: no-repeat;
}
.modalFoot::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  right: -6px;
  bottom: 0px;
  background-image: url(https://pic.imgdb.cn/item/668d0de4d9c307b7e9202bca.png);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.recommendCard {
  background-image: url(https://pic.imgdb.cn/item/668303e2d9c307b7e9916910.webp);
  background-size: cover;
  background-position: center;
  background-position: fixed;
}
.borderImg {
  position: relative;
  overflow: hidden;
  padding: 10px;
  border-radius: 10px;
}
.borderImg::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(https://pic.imgdb.cn/item/6682fc04d9c307b7e98a9912.webp);
  background-size: 105% 105%; /* 拉伸背景图片以完全填满盒子 */
  background-repeat: no-repeat; /* 防止背景图片重复 */
  background-position: center;
}
.mainSection {
  background-image: url(https://pic.imgdb.cn/item/6683b34dd9c307b7e9a0f930.jpg);
  background-size: 105% 105%; /* 拉伸背景图片以完全填满盒子 */
  background-repeat: no-repeat; /* 防止背景图片重复 */
  background-position: center;
}

.shake1 {
  animation: shake 1s ease-in infinite alternate;
}
.light {
  position: relative;
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.95885px 0px,
    rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.14147px 1.99499px 0px,
    rgb(0, 0, 0) -0.83229px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px,
    rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.70157px 0px,
    rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.42159px -1.95506px 0px,
    rgb(0, 0, 0) 0.56732px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px,
    rgb(0, 0, 0) 1.92034px -0.55883px 0px;
}
.light::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: 100% 100%;
  background-image: url(https://pic.imgdb.cn/item/668588ecd9c307b7e9130c7c.png);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: opacity 0.5s ease;
}
.endText {
  position: relative;
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.95885px 0px,
    rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.14147px 1.99499px 0px,
    rgb(0, 0, 0) -0.83229px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px,
    rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.70157px 0px,
    rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.42159px -1.95506px 0px,
    rgb(0, 0, 0) 0.56732px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px,
    rgb(0, 0, 0) 1.92034px -0.55883px 0px;
}
.endText::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0px;
  top: 50%;
  transform: translate(-7px, -50%);
  background-size: 100% 100%;
  background-image: url(https://pic.imgdb.cn/item/668588ecd9c307b7e9130c7c.png);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: opacity 0.5s ease;
}
.selectedCost::after {
  filter: drop-shadow(rgb(255, 255, 255) 0px 0px 3px);
  opacity: 1;
  background-color: #f00;
}
.ReactVirtualized__List {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.selectedCost {
  filter: drop-shadow(rgb(255, 255, 255) 0px 0px 3px);
  opacity: 1;
}
.endText:hover::after {
  filter: drop-shadow(rgb(255, 255, 255) 0px 0px 3px);
  opacity: 1;
}
.light:hover::after {
  filter: drop-shadow(rgb(255, 255, 255) 0px 0px 3px);
  opacity: 1;
}

.deckHead {
  height: 0px;
  width: 100%;
  position: relative;
  padding-bottom: 34.695%;
  background: no-repeat url(https://pic.imgdb.cn/item/66896f73d9c307b7e9d834bf.png) center/cover;
}
.deckAvatar {
  background: no-repeat url(https://pic.imgdb.cn/item/66897e91d9c307b7e9f415ac.png) center/cover;
}
.deckContainer {
  background: repeat-y url(https://pic.imgdb.cn/item/66896fd3d9c307b7e9d8e25c.png) top / 100%;
}
.deckFoot {
  background: url(https://pic.imgdb.cn/item/66897034d9c307b7e9d997f9.png) center/cover;
}
.stroke {
  text-shadow: #000 2px 0 0, #000 1.75517px 0.95885px 0, #000 1.0806px 1.68294px 0,
    #000 0.14147px 1.99499px 0, #000 -0.83229px 1.81859px 0, #000 -1.60229px 1.19694px 0,
    #000 -1.97998px 0.28224px 0, #000 -1.87291px -0.70157px 0, #000 -1.30729px -1.5136px 0,
    #000 -0.42159px -1.95506px 0, #000 0.56732px -1.91785px 0, #000 1.41734px -1.41108px 0,
    #000 1.92034px -0.55883px 0;
}

@keyframes shake {
  0% {
    transform: rotateZ(-20deg);
  }
  10% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(-20deg);
  }
  30% {
    transform: rotateZ(0deg);
  }
}
